.header
{
	border-style: double;
}

#ann
{
	border-style: groove;
}

#calendar
{
	border-style: groove;
}

.login
{
	border-style: groove;
}

.navig
{
	border-style: solid;
}

.info
{
	border-style: dashed;
}

.button
{
	border-style: dotted;
}

#mtg
{
	border-style: solid;
}